{% extends "base.html" %}

{% block content %}
<form action="{% url 'add_contact' %}" method="post">{% csrf_token %}
    {% for field in form %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label class="" for="{{ field.name }}">{{ field.label }}</label>
        {{ field }}
        <div class="invalid-feedback">
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}