{% extends "base.html" %}

{% block content %}
<br>
<form action="{% url 'login' %}" method="post">{% csrf_token %}
    <div class="form-group {% if form.errors.items %}has-error{% endif %}">
        <div class="form-row align-items-center">
            {% for field in form %}
            <div class="col-sm-3">
                <label class="sr-only" for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="col-auto">
                <button class="btn btn-primary">Submit</button>
            </div>
            <br>
            <div class="invalid-feedback">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</form>
{% endblock %}